<div class="container-fluid new-page">
  <div class="row">
    <h2 class="page-title">FAQ</h2>
    <div class="faq-wrapper">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">1. Cake tart ice cream lemon drops powder wafer.</div>
          </button>
          <p class="description">
            Gummi bears brownie sweet cheesecake sweet roll lollipop wafer.
            Caramels oat cake jelly-o muffin lollipop candy tiramisu cupcake.
            Pudding toffee dragée jelly-o danish chupa chups.
            Liquorice candy dragée croissant dragée.
            Chocolate bar gummies tiramisu marshmallow soufflé muffin.
            Soufflé chocolate bar wafer gummi bears ice cream carrot cake pastry soufflé.
            Cheesecake sweet roll dessert.
          </p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">2. Gummi bears brownie sweet cheesecake sweet roll lollipop wafer.</div>
          </button>
          <p class="description">
            Gummi bears brownie sweet cheesecake sweet roll lollipop wafer.
            Caramels oat cake jelly-o muffin lollipop candy tiramisu cupcake.
            Pudding toffee dragée jelly-o danish chupa chups.
            Liquorice candy dragée croissant dragée.
            Chocolate bar gummies tiramisu marshmallow soufflé muffin.
            Soufflé chocolate bar wafer gummi bears ice cream carrot cake pastry soufflé.
            Cheesecake sweet roll dessert.
          </p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">3. Gummi bears brownie sweet cheesecake sweet roll lollipop wafer.</div>
          </button>
          <p class="description">
            Gummi bears brownie sweet cheesecake sweet roll lollipop wafer.
            Caramels oat cake jelly-o muffin lollipop candy tiramisu cupcake.
            Pudding toffee dragée jelly-o danish chupa chups.
            Liquorice candy dragée croissant dragée.
            Chocolate bar gummies tiramisu marshmallow soufflé muffin.
            Soufflé chocolate bar wafer gummi bears ice cream carrot cake pastry soufflé.
            Cheesecake sweet roll dessert.
          </p>
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
