<div class="container new-page">
  <div class="row justify-content-center">
    <div class="games-wrapper">
      <h2>Lista Gier</h2>
        <div class="search">
          <app-games-search [games]="games" (filteredGames)="filteredGames($event)"></app-games-search>
        </div>
        <hr class="divider">
        <ng-container *ngIf="gamesList.length > 0; else empty">
        <div class="games-list">
          <div class="game" *ngFor="let game of gamesList;">
            <div class="game-header">
              <h4>
                <a routerLink="/game/{{ game.id }}">{{ game.name }}</a></h4>
            </div>
            <hr>
            <div class="game-body">
                <p class="description">{{ game.description }}</p>
                <div class="details">
                  <div class="left">
                    <p><b>Kiedy: </b>{{ (game.finishDate | gameDate) }}</p>
                    <p class="location"><b>Miejsce:</b> {{ game.location }}</p>
                  </div>
                  <div class="right">
                    <img class="avatar-icon" appLazyLoad [src]="game.user.avatar" alt="user avatar">
                    <span>{{ game.user.name }}</span>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #empty>
        <p class="empty">No games found</p>
      </ng-template>
    </div>
  </div>
</div>
