<nav class="navbar navbar-expand-lg navbar-dark bg-dark main_navigation">
  <div class="navbar-container ">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Unlogged user menu -->
  <div class="collapse navbar-collapse" [ngClass]="{'show mobile': !isCollapsed}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="!auth">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">{{ 'menu.home' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="#">{{ 'menu.games' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/faq">{{ 'menu.faq' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/signin">{{ 'menu.login' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="signup">{{ 'menu.register' | translate }}</a>
      </li>
    </ul>

    <!-- Logged user menu -->
    <ul class="navbar-nav mr-auto" *ngIf="auth">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">{{ 'menu.home' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="#">{{ 'menu.games' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="#">{{ 'menu.my-games' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/faq">{{ 'menu.faq' | translate }}</a>
      </li>
      <li class="nav-item d-block d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="profile">{{ 'menu.profile' | translate }}</a>
      </li>
      <li class="nav-item d-block d-lg-none" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" href="javascript:;" (click)="logout()">{{ 'menu.logout' | translate }}</a>
      </li>
    </ul>

    <!-- Logged user desktop settings dropdown -->
    <div class="form-inline my-2 my-lg-0 d-none d-lg-block" *ngIf="auth">
      <div class="nav-item dropdown" dropdown>
        <a id="button-basic" dropdownToggle class="user-menu-icon" aria-controls="dropdown-basic">
          <img src="https://dungeonblarg.files.wordpress.com/2011/04/jhonen2.jpg" alt="user avatar" class="avatar-icon">
          <span class="username">Nickname</span>
        </a>
        <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <a class="dropdown-item" routerLink="profile">{{ 'menu.profile' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;" (click)="logout()">{{ 'menu.logout' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
