.main_navigation {
  .navbar-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @media all and (min-width: 992px) {
      position: relative;
      max-width: 1600px;
      margin: 0 auto;
    }
  }
  li {
    list-style: none;
  }
  a {
    cursor: pointer;
  }

  .collapse:not(.show) {
    display: block;
  }

  @media all and (max-width: 991px) {
    .navbar-collapse {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        font-size: 1.125rem;
        text-align: center;
    }

    .mobile {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }

}
