<div class="container new-page">
  <div class="profile-wrapper">
    <h2 class='username'>{{ user.name }}</h2>
    <div class="row">
      <div class="col-12 col-md-9 order-2 order-md-1">
        <app-profile-bio [bio]="user.bio"></app-profile-bio>
      </div>
      <div class="col-12 col-md-3 order-1 order-md-2 avatar">
          <app-profile-avatar [avatarSrc]="user.avatar"></app-profile-avatar>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="account-data">
          <app-profile-email [email]="user.email"></app-profile-email>
          <app-profile-change-password></app-profile-change-password>
          <div class="rating">
            <app-profile-rating [rating]="user.rating"></app-profile-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
