<div class="container">
  <div class="row justify-content-center">
    <div class="form-wrapper">
      <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <input type="text" class="form-control" id="field_name" formControlName="name" placeholder="name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="field_email" formControlName="email" placeholder="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="field_password" formControlName="password" placeholder="hasło">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="field_confirm_password" formControlName="confirm_password"
            placeholder="hasło">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-wide" [disabled]="!signupForm.valid" [ngClass]="!signupForm.valid ? 'disabled' : 'btn-green'">Zaloguj</button>
        </div>
        <div class="form-group d-flex flex-column align-items-center">
          <a href="#" class="btn-link">Przypomnienie hasla</a>
          <a [routerLink]="'/signup'" class="btn-link">Nie posiadasz konta? Stworz je</a>
        </div>
      </form>
    </div>
  </div>
</div>
