<button class="change-password" [ngClass]="{'edit': edit, 'editable': !edit}" (click)="changePassword()">
  Zmień Hasło
</button>

<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" *ngIf="edit">
  <div class="form-group">
    <label for="field_old_password">Stare hasło</label>
    <input type="password" class="form-control" id="field_old_password" formControlName="old_password" placeholder="Wprowadz stare hasło">
  </div>
  <div class="form-group">
    <label for="field_password">Nowe hasło</label>
    <input type="password" class="form-control" id="field_password" formControlName="password" placeholder="Wprowadz nowe hasło">
    <span class="form-err">Hasła nie są takie same</span>
  </div>
  <div class="form-group">
    <label for="field_password_confirmation">Potwierdź nowe hasło</label>
    <input type="password" class="form-control" id="field_password_confirmation" formControlName="confirm_password" placeholder="Potwierdź nowe hasło">
    <span class="form-err">Hasła nie są takie same</span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-submit" [disabled]="!changePasswordForm.valid" [ngClass]="!changePasswordForm.valid ? 'disabled' : 'btn-green'">Potwierdź</button>
  </div>
</form>
