.change-password {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: #fff;
  padding-left: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
