<div class="container new-page">
  <ng-container *ngIf="gameDetail; else error">
    <div class="row justify-content-center">
      <div class="game-wrapper">
        <div class="back" (click)="goBack()"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>Go Back</div>
        <div class="forward" (click)="submitPropose()">Send Proposal<i class="fa fa-2x fa-handshake-o" aria-hidden="true"></i></div>
        <h3>{{ gameDetail.name }}</h3>
        <div class="description">
          {{ gameDetail.description }}
        </div>
        <div class="game-details">
          <p><b>Kiedy:</b> {{ formatDate(gameDetail.finish_date) }}</p>
          <p class="location"><b>Miejsce:</b> {{ gameDetail.location }}</p>
        </div>
        <hr>
        <app-profile-preview [user]="gameDetail.user"></app-profile-preview>
      </div>
    </div>
  </ng-container>
  <ng-template #error>
    <p class="err">Coś poszło nie tak albo ogłoszenie zostało usuniete, <span (click)="goBack()">wróć do poprzedniej
        strony</span></p>
  </ng-template>
</div>
