.game-wrapper {
  width: 100%;
  border-radius: 6px;
  padding: 2rem;
  position: relative;
  @media all and (min-width: 768px) {
    box-shadow: 0 0 8px 2px #777;
    margin: 0 2rem 3rem;
  }

  .back {
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    i {
      margin-right: 0.5rem;
    }
  }

  .forward {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    top: 10px;
    color: green;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    i {
      margin-left: 0.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
  }

  .description {
    line-height: 1.25rem;
    margin-top: 2rem;
  }

  .game-details {
    margin: 1rem 0;

    b {
      font-weight: bold;
    }

    p {
      margin-bottom: 0.5rem;
    }

  }

  hr {
    border-top: none;
    border-bottom: 2px solid #ccc;
  }

  .user-detail {

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    .img-full {
      max-width: 200px;
      max-height: 300px;
    }

    .rating {
      margin: 2rem 0 1rem;
      padding: 0 0.25rem;
      display: flex;
      justify-content: center;

      span {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
      }

      .fa-handshake-o {
        color: #217d21;
      }

      .fa-graduation-cap {
        color: #5b78bb;
      }

      .fa-trophy {
        color: #9a1d1d;
      }

      .fa {
        font-size: 2rem;
        margin-right: 0.25rem;
      }

    }
  }
}

.err {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;

  span {
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 0.5;
    }
  }
}
