<div class="container-fluid new-page">
  <h2 class="text-center">GameFinder - czyli jak szybko znalezc kompanów do gry</h2>

  <section id="primary-description">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="img-placeholer"></div>
      </div>
      <div class="col-12 col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate,
          erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor.
          Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat
          volutpat.
          Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
          Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec,
          ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla,
          vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus.
          Integer pellentesque quam vel velit. Duis pulvinar.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate,
          erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor.
          Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat
          volutpat.
          Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
          Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec,
          ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla,
          vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus.
          Integer pellentesque quam vel velit. Duis pulvinar.
        </p>
      </div>
    </div>
  </section>

  <section id="profit-boxes">
    <h2 class="text-center">What you gain using this website</h2>
    <div class="row">
      <div class="profit-boxes">
        <div class="col-12 col-sm-4">
          <div class="box-placeholder"></div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="box-placeholder"></div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="box-placeholder"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="how-to-use">
    <h2 class="text-center">How to use it</h2>
    <div class="row">
      <div class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate,
          erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor.
          Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat
          volutpat.
          Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
          Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec,
          ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla,
          vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus.
          Integer pellentesque quam vel velit. Duis pulvinar.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate,
          erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor.
          Mauris pretium quam et urna. Fusce nibh. Duis risus. Curabitur sagittis hendrerit ante. Aliquam erat
          volutpat.
          Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
          Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec,
          ullamcorper ac, vestibulum in, elit. Proin pede metus, vulputate nec, fermentum fringilla,
          vehicula vitae, justo. Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus.
          Integer pellentesque quam vel velit. Duis pulvinar.
        </p>
      </div>
    </div>
  </section>

</div>
