<h3 class="section-title" [ngClass]="{'edit': edit, 'editable': !edit}" (click)="editBio()">Description</h3>
<div class="profile-bio" *ngIf="!edit">
  {{ bio }}
</div>


<form [formGroup]="changeBioForm" (ngSubmit)="onBioChange()" *ngIf="edit">
  <div class="form-group">
    <textarea class="form-control" id="field_email" formControlName="bio" placeholder="Opis użytkownika..." style="resize: none;"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-submit btn-green">Potwierdź</button>
  </div>
</form>
