<div class="profile-bio">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra sollicitudin metus, quis porttitor velit elementum et.
    Nullam at faucibus lacus. Suspendisse eget ex nibh. Morbi id fringilla enim, consectetur elementum ante.
    Fusce auctor ac metus ac tincidunt. Fusce convallis tempor urna, ut mollis magna feugiat sit amet.
  </p>
  <p>
    Vestibulum sit amet dolor efficitur, viverra ante a, euismod lectus. Nam elit ipsum, elementum vitae rhoncus quis, tempor in velit.
    Donec eget risus diam. Nunc maximus mi a orci tristique pellentesque.
    Quisque aliquam et sapien sed accumsan. Nam non laoreet urna.
  </p>
</div>
