/* You can add global styles to this file, and also import other style files */
@import './scss/reset.scss';

body {
  background-image: url(./assets/img/tawern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
