body {
  font-family: 'Nunito', sans-serif;
  background-color: #fafafa;
}

.toast {
  opacity: 1;
}

.new-page {
  position: relative;
  margin-top: 4rem;
}

.black-overlay {
  position: fixed !important;
}

.light {
  cursor: pointer;
  border: 2px solid #ccc !important;
  box-shadow: 1px 2px 4px 1px #ccc !important;
}

.dark {
  cursor: pointer;
  border: 2px solid #333 !important;
  box-shadow: 1px 2px 4px 1px #333 !important;
}
